<% layout("/layouts/boilerplate") %>

<div class="container mt-5">

<h2>
🤖 StayPoint AI Assistant
</h2>

<div
id="chatbox"
style="
height:400px;
border:1px solid gray;
padding:10px;
overflow:auto;
">

</div>

<form id="chatForm">

<input
type="text"
id="message"
class="form-control mt-3"
placeholder="Ask anything">

<button
class="btn btn-dark mt-2 mb-4">

Send

</button>

</form>

</div>

<script src="/js/chatbot.js"></script>